@using Pizzeria.Web.ViewModels.Ingredients
@model ICollection<IngredientViewModel>;

@{
    ViewBag.Title = "All Ingredients";
}


<h2 class="text-center">@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-white" scope="col">Ingredient Name</th>
            <th class="text-white" scope="col">Category Name</th>
            <th class="text-white" scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model)
        {
            <tr>

                <td class="text-white">@ingredient.Name</td>
                <td class="text-white">@ingredient.IngredientCategory.Name</td>
                <td>
                    <form class="input-group-sm" asp-route-id="@ingredient.Id" asp-controller="Ingredients" asp-action="Edit" method="get">
                        <input type="submit" value="Update" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>

                    <form class="input-group-sm" asp-route-id="@ingredient.Id" asp-controller="Ingredients" asp-action="Delete" method="post" onclick="return confirm('Are you sure you want to delete this?')">
                        <input type="submit" value="Delete" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                </td>

            </tr>
        }



    </tbody>
</table>